<h1>Supplier index</h1>
<hr/>

<table class="table table-striped table-hover table-bordered table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Company name</th>
            <th>City</th>

            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let supplier of suppliers">
            <td>{{supplier.id}}</td>
            <td>{{supplier.companyName}}</td>
            <td>{{supplier.city}}</td>
            <td>
                <a (click)="editSupplier(supplier.id)" class="text-wrap">Edit</a>&nbsp;
                <a (click)="deleteSupplier(supplier.id)" class="text-wrap">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

<input type="button" class="btn btn-primary" [routerLink]="'/supplier/add'" value="Add new supplier"/>