<div *ngIf="insertSuccessful" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Add success!</strong> Go to <a [routerLink]="'/employee/index'">employee index</a>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<h1>Create new employee</h1>
<hr/>

<form [formGroup]="employeeForm">
    <div class="row m-3">
        <div class="col-3">
            <label for="firstName">First name</label>
            <input id="firstName" formControlName="firstName" class="form-control" />
            <div class="text-danger" *ngIf="employeeForm.get('firstName')?.hasError('required') && employeeForm.get('firstName')?.touched">
                Employee first name is required!
            </div>
        </div>
        <div class="col-3">
            <label for="lastName">Last name</label>
            <input id="lastName" formControlName="lastName" class="form-control" />
            <div class="text-danger" *ngIf="employeeForm.get('lastName')?.hasError('required') && employeeForm.get('lastName')?.touched">
                Employee last name is required!
            </div>
        </div>
        <div class="col-3">
            <label for="titleOfCourtesy">Title of courtesy</label>
            <input id="titleOfCourtesy" formControlName="titleOfCourtesy" class="form-control" />
        </div>
        <div class="col-3">
            <label for="phone">Phone</label>
            <input id="phone" formControlName="phone" class="form-control" />
        </div>
    </div>

    <div class="row m-3">
        <div class="col-3">
            <label for="birthDate">Birth Date</label>
            <input id="birthDate" formControlName="birthDate" class="form-control" type="date"/>
        </div>
        <div class="col-3">
            <label for="hireDate">Hire Date</label>
            <input id="hireDate" formControlName="hireDate" class="form-control" type="date"/>
        </div>
        <div class="col-3">
            <label for="title">Title</label>
            <input id="title" formControlName="title" class="form-control" />
        </div>
    </div>

    <div class="row m-3">
        <div class="col-6">
            <label for="address">Address</label>
            <input id="address" formControlName="address" class="form-control" />
        </div>
        <div class="col-2">
            <label for="city">City</label>
            <input id="city" formControlName="city" class="form-control" />
        </div>
        <div class="col-2">
            <label for="postalCode">Postal code</label>
            <input id="postalCode" formControlName="postalCode" class="form-control" />
        </div>
        <div class="col-2">
            <label for="country">Country</label>
            <input id="country" formControlName="country" class="form-control" />
        </div>
    </div>

    <div class="row m-3">
        <div class="col-3">
            <label for="regionId">Region</label>
            <select id="regionId" formControlName="regionId" class="form-control">
                <option *ngFor="let region of regions" value={{region.id}}>{{region.id}}.{{region.name}}</option>
            </select>
            <div class="text-danger" *ngIf="employeeForm.get('regionId')?.hasError('required') && employeeForm.get('regionId')?.touched">
                Employee region is required!
            </div>
        </div>
        <div class="col-3">
            <label for="reportsTo">Reports to</label>
            <select id="reportsTo" formControlName="reportsTo" class="form-control">
                <option value="0">N/A</option>
                <option *ngFor="let employee of employees" value={{employee.id}}>{{employee.id}}.{{employee.firstName}} {{employee.lastName}}</option>
            </select>
        </div>
        <div class="col-6">
            <label for="photoPath">Photo path</label>
            <input id="photoPath" formControlName="photoPath" class="form-control" />
        </div>
    </div>

    <div class="m-3">
        <input type="button" value="Add employee" class="btn btn-primary" (click)="insertEmployee()" [disabled]="!employeeForm.valid"/>
    </div>
    
</form>