<div class="container">
    <h1>Edit product</h1>
    <hr />

    <input type="text" [(ngModel)]="dummyName" /><br />
    {{dummyName}}

    <hr />
    <table>
        <tr>
            <td>
                <label>Enter a number: </label></td>
                <td><label>Enter a number: </label>
            </td>
        </tr>
        <tr>
            <td>
                <input [(ngModel)]="number1" class="form-control" /></td>
                <td>    <input [(ngModel)]="number2" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Result</label></td></tr><tr><td>
                <input [(ngModel)]="numberResult" class="form-control" disabled="disabled" />
            </td>
            <td>
                <input type="button" class="btn bg-primary" value="Addtion" (click)="addtion()" />
            </td>
        </tr>
    </table>

</div>